# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
hs_err_pid*
replay_pid*
